.landing-page-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 2rem;
}

.spot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.spot-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    flex: 1 1 calc(25% - 1rem);
}

.spot-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.spot-card-image {
    border-radius: 0.75rem;
    width: 100%;
    max-width: 300px;
    height: auto;
}

@media (max-width: 1200px) {
    .spot-card {
        flex-basis: calc(33.33% - 1rem);
    }
}

@media (max-width: 900px) {
    .spot-card {
        flex-basis: calc(50% - 1rem);
    }
}

@media (max-width: 600px) {
    .spot-card {
        flex-basis: calc(100% - 1rem);
    }
}
