.landing-page-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 2rem;
}

.spot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.spot-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.spot-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.spot-card-image {
    border-radius: 0.75rem;
    width: 300px;
    height: 200px;
}
